h2{line-height:1.4em;text-transform:none;color:#333;margin:.5em 0 .25em}
h3.date-header{text-transform:none;font:normal 12px Arial;color:#999;line-height:1.2em;margin:.1em 0}
.post{margin:10px 5px 15px;padding:5px 15px 15px;-webkit-box-shadow:1px 1px 5px #c3c3c3;-moz-box-shadow:1px 1px 5px #c3c3c3;-ms-box-shadow:1px 1px 5px #c3c3c3;-o-box-shadow:1px 1px 5px #c3c3c3;box-shadow:1px 1px 5px #c3c3c3;background:#f9f9f9;border:1px solid #fff}
.post h1,.post h2{font:24px Oswald;line-height:1.2em;color:#91c425;margin:.0em 0 0;padding:4px 0}
.post h1 a,.post h1 a:visited,.post h1 strong,.post h2 a,.post h2 a:visited,.post h2 strong{display:block;text-decoration:none;color:#91c425;text-shadow:1px 1px #fff,1px 1px #ccc,2px 2px #ddd,3px 3px #eee}
.post h1 strong,.post h1 a:hover,.post h2 strong,.post h2 a:hover{color:#333}
.post-body{border-top:2px solid #ddd;padding-top:10px;font:normal 14px 'Arial',serif;margin:1.0em 0 .75em;line-height:1.3em}
.post-body blockquote{line-height:1.3em}
.post-footer{color:#666;text-transform:none;letter-spacing:.01em;font:12px Arial;line-height:1.4em;margin:.75em 0}
.comment-link{margin-left:.1em}
.post blockquote{line-height:1.6em;color:#333;background:#eee;border-left:20px solid #ccc;margin:10px 10px 10px 20px;padding:10px 15px}
.post blockquote p{margin:.75em 0}
.post img,#header2 img,.sidebar1 img,.sidebar img,.crosscol1 img,.crosscol2 img{max-width:100%;width:auto;-ms-interpolation-mode:bicubic;border:0}
.video-container{position:relative;margin:0 0 15px 0;padding-bottom:51%;padding-top:30px;height:0;overflow:hidden;border:1px solid #ccc}
.video-container iframe,.video-container object,.video-container embed{position:absolute;top:0;left:0;width:100%;height:100%}
.comments{font:normal 11px/14px "Lucida Grande",Tahoma,Verdana,Arial,Sans-Serif !important;color:rgb(51,51,51)}
.comments .comments-content a{color:#3B5998 !important}
.comments h2,.comments h3,.comments h4{font-family:"Lucida Grande",Tahoma,Verdana,Arial,Sans-Serif !important;font-size:16px}
.comments .comments-content .comment{margin:0 0 0;padding:10px 10px}
.comments .comment .comment-header,.comments .comment .comment-thread.inline-thread,.comments .comment .continue{margin:0 0 0;padding:0 0 0;border:none;background:transparent}
.comments .comment .comment-actions,.comments .comment .comment-actions a,{background:transparent;float:right}
.comments .comment .comment-header{margin-bottom:10px}
.comments .comment .comment-header .datetime a{color:#808080 !important}
.comments .comment .comment-actions a{padding-right:5px}
.comments .thread-toggle .thread-arrow{width:7px;height:7px;padding-right:4px}
.comments .comment .avatar-image-container,.comments .comment .avatar-image-container img{width:50px;height:50px;max-width:none;max-height:none;border:none;padding:0;margin:0;outline:none}
.comments .comment .comment-block{margin:0 0 0 60px !important}
.comments .comment .comment-thread.inline-thread{margin:7px 0 0 22px}
.comments .comment .comment-thread.inline-thread ol{margin:7px 0 10px !important}
.comments .comment .comment-thread.inline-thread .comment{background-color:rgba(51,51,51,.10);padding:5px 5px 0;margin:1px 0 0}
.comments .comment .comment-thread.inline-thread .comment .avatar-image-container,.comments .comment .comment-thread.inline-thread .comment .avatar-image-container img{width:32px;height:32px}
.comments .comment .comment-thread.inline-thread .comment .comment-block{margin:0 0 0 40px !important}
.comments .comment .comment-content{text-align:left}
.comments .comments-content .icon.blog-author{width:16px;height:16px;display:inline-block;vertical-align:top;background:transparent url('/favicon.ico') no-repeat 50% 50%}
.comments .comment .comment-thread.inline-thread .comment:last-child{border-left:2px solid #A8B2CE !important}
@media screen and (max-device-width:480px){.comments .comments-content .comment-replies{margin-left:0}
}
.comments .note,em[rel="note"]{display:block;padding:5px 10px;border:1px solid black;background-color:#222;background-image:-webkit-linear-gradient(top,#333,#222);background-image:-moz-linear-gradient(top,#333,#222);background-image:-ms-linear-gradient(top,#333,#222);background-image:-o-linear-gradient(top,#333,#222);background-image:linear-gradient(top,#333,#222);-webkit-box-shadow:0 0 0 1px #555;-moz-box-shadow:0 0 0 1px #555;box-shadow:0 0 0 1px #555;color:#ccc;font:normal normal 11px/normal Tahoma,Verdana,Arial,Sans-Serif;text-shadow:0 1px 0 black}
.comments .note a,.comments .note code{font-size:100%}
.comments img.incomment,.comments blockquote img.incomment{display:block;margin:2px auto 0}
.comments pre,i[rel="pre"]{margin:5px 0}
.comments a{color:#5687B8}
.comments a.allow,i[rel="anchor"]{font-size:97%}
.comments code,i[rel="code"],#respond em{color:inherit;font:normal normal 12px/1.4 "Courier New",Courier,Monospace}
.comments code a,.comments code a:hover,.comments code a:focus{color:inherit;background:none}
.comments i[rel="image"]{display:block;margin:2px auto;width:50px;height:50px;border:5px solid #222;background-color:white;font:normal normal 0/0 a;color:transparent;text-shadow:none;overflow:hidden;position:relative}
.comments iframe.video{width:320px;max-width:320px;height:224px;-webkit-box-shadow:0 1px 3px black;-moz-box-shadow:0 1px 3px black;box-shadow:0 1px 3px black;display:block;margin:10px auto;border:4px solid #444;background-position:50% 50%}
.postmeta{font:11px Tahoma;text-transform:uppercase;font-weight:400;padding:5px 0;line-height:16px}
.author{color:#666;background:url(http://1.bp.blogspot.com/-BHRCsN73acQ/UPKxKFtk-mI/AAAAAAAACcI/Vc9nAuUh7F8/s1600/user.png) left center no-repeat;padding:2px 5px 2px 17px}
.clock{color:#666;background:url(http://2.bp.blogspot.com/-GEuHpjA0MF8/UPKxKPNlBwI/AAAAAAAACcE/aCzen2hdPS4/s1600/time.png) left center no-repeat;padding:2px 5px 2px 17px}
.clock a{color:#666}
.clock a:hover{color:#b64d4a}
#menuwrapperpic{background:#333;box-shadow:0px 1px 3px rgba(46,65,133,0.4);-webkit-box-shadow:inset 0px 1px 0px rgba(0,0,0,0.4),inset 0px 2px 0px rgba(255,255,255,0.2),0px 1px 3px rgba(0,0,0,0.4);-moz-box-shadow:inset 0px 1px 0px rgba(0,0,0,0.4),inset 0px 2px 0px rgba(255,255,255,0.2),0px 1px 3px rgba(0,0,0,0.4);box-shadow:inset 0px 1px 0px rgba(0,0,0,0.4),inset 0px 2px 0px rgba(255,255,255,0.2),0px 1px 3px rgba(0,0,0,0.4);width:100%;margin:0 auto;padding:0 auto}
#menuwrapper{width:960px;margin:0 auto;height:37px}
.clearit{clear:both;height:0;line-height:0.0;font-size:0}
#menubar{width:100%}
#menubar,#menubar ul{padding:0;margin:0;list-style:none;font-family:Arial,sans-serif}
#menubar a{font-family:oswald;display:block;text-decoration:none;padding:10px 12px 11px 12px;font-size:12px;font-weight:normal;text-transform:none;color:#5E5E5E;text-shadow:0px 1px 0 #313131}
#menubar a.trigger{background-image:url(http://1.bp.blogspot.com/-Ou5V60iU-C8/TeQD01cinhI/AAAAAAAABjQ/_0_myiMPkL0/s1600/arrow.gif);background-repeat:no-repeat;padding:10px 24px 11px 12px;background-position:right center}
#menubar li{float:left;position:relative}
#menubar li{position:static;width:auto}
#menubar li ul,#menubar ul li{width:165px}
#menubar ul li a{text-align:left;color:#13598D;padding:6px 12px;font-size:12px;font-weight:bold;text-transform:none;font-family:Arial}
#menubar li ul{z-index:100;position:absolute;display:none;background:#0F4E7D;padding-bottom:5px}
#menubar li ul{-moz-border-radius-bottomleft:2px;-moz-border-radius-bottomright:2px;-webkit-border-bottom-left-radius:2px;-webkit-border-bottom-right-radius:2px;border-bottom-left-radius:2px;border-bottom-right-radius:2px}
#menubar li ul{-moz-box-shadow:0 5px 5px rgba(0,0,0,0.6);-webkit-box-shadow:0 5px 5px rgba(0,0,0,0.6);filter:alpha(opacity=95);-moz-opacity:.95;opacity:.95}
#menubar li:hover a,#menubar a:active,#menubar a:focus,#menubar li.hvr a{color:#91c425;text-decoration:none}
#menubar li:hover ul,#menubar li.hvr ul{display:block}
#menubar li:hover ul a,#menubar li.hvr ul a{color:#d1d8e5;background-color:transparent;text-decoration:none}
#menubar li ul li.hr{border-bottom:1px solid #296A99;border-top:1px solid #0E4064;display:block;font-size:1px;height:0px;line-height:0px;margin:4px 0}
#menubar ul a:hover{background-color:#0E3B5D!important;color:#fff !important;text-decoration:none}
#menubar li.home a,#menubar li.home a:visited{background:url(http://4.bp.blogspot.com/-b5CZZuwYUKM/TeQD2DHXOvI/AAAAAAAABjc/VEl5dmwPyO8/s1600/menu_hover.gif) repeat-x top left;border-left:none}
#menubar li.home a:hover{background:#1d335d}
#inner{padding-top:41px}
#fixed{position:fixed;top:0;left:0;width:100%;height:41px;z-index:999}
#fixedinner{text-align:center;background:transparent;height:41px;position:relative;z-index:999}
* html,* html body{overflow-y:hidden;height:100%}
* html #fixedinner{margin-right:-143px;voice-family:"\"}
\"";voice-family:inherit}
* html #fixedinner{margin-right:17px}
* html #fixed{position:absolute}
nav{position:relative;font-family:oswald;display:block;text-decoration:none;font-size:14px;text-transform:uppercase;text-transform:none;color:#000;text-shadow:-1px -1px 0 #0F669F;-webkit-box-shadow:inset 1px 0px 0px rgba(255,255,255,0.1),inset -1px 0px 0px rgba(0,0,0,0.1)}
@media screen and (max-width:910px){#header{float:none;max-width:none;text-align:center;margin-top:10px}
#header-inner{margin-bottom:0}
#header h1,#header p{margin-right:0}
#header .description{margin:0}
.menusearch{float:none;padding:5px 0 10px}
.main-wrapper{margin-right:0;width:58%}
.sidebar-wrapper,.sidebar1-wrapper{border:none;margin:0 auto 10px;padding:0 10px}
.mencred{padding:20px!important}
#mencred .left,#mencred .right{float:none;text-align:center;margin:0}
.Desktop,.content{padding:0}
#header2,.page-menu ul{text-align:center;width:100%}
}
@media screen and (max-width:768px){.header-wrapper{margin-right:0;min-height:0;width:100%}
#header{text-align:center;width:100%;max-width:none}
#header-inner{margin:10px 0}
#menu{position:relative}
#menu ul{background:#892f2d;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
#menu ul.menus{width:100%;position:static;padding-left:20px}
#menu li{display:block;float:none;width:auto}
#menu input,#menu label{position:absolute;top:0;left:0;display:block}
#menu input{z-index:4}
#menu input:checked+label{color:white}
#menu input:checked ~ ul{display:block}
.page-menu li a{border-right:0}
}
@media screen and (max-width:760px){.masmenu{border-bottom:0}
.page-menu{margin:0}
.wrapper{padding:0}
#content{clear:both;border:none;padding:0}
.main-wrapper{margin-left:0;width:100%;min-height:0}
.sidebar-wrapper,.sidebar1-wrapper{position:relative;top:auto;left:auto;clear:both;right:auto;width:auto;background:none;padding:0 10px}
#comment-editor{margin:10px}
}
@media screen and (max-width:480px){#header img{width:100%}
.post-comment-link{display:none}
}
@media screen and (max-width:320px){.comments .comments-content .datetime{display:block;float:none}
.comments .comments-content .comment-header{height:70px}
}
@media screen and (max-width:240px){.header-wrapper{margin-right:0;min-height:0;width:100%}
#header{text-align:center;width:100%;max-width:none}
#header-inner{margin:10px 0}
#header img{border:0 none;background:none;width:auto;height:auto;margin:0 auto}
.comments .comments-content .comment-replies{margin-left:0}
}
#homepage{width:100%;float:left;font-size:12px}
a.openpanel{display:block;width:99%;padding:1px;text-align:center;font-weight:bold;line-height:30px;background:#242424;box-shadow:0px 1px 3px rgba(46,65,133,0.4);-webkit-box-shadow:inset 0px 1px 0px rgba(0,0,0,0.4),inset 0px 2px 0px rgba(255,255,255,0.2),0px 1px 3px rgba(0,0,0,0.4);-moz-box-shadow:inset 0px 1px 0px rgba(0,0,0,0.4),inset 0px 2px 0px rgba(255,255,255,0.2),0px 1px 3px rgba(0,0,0,0.4);box-shadow:inset 0px 1px 0px rgba(0,0,0,0.4),inset 0px 2px 0px rgba(255,255,255,0.2),0px 1px 3px rgba(0,0,0,0.4);url()repeat-x;-webkit-transition:all .15s ease-in-out;-webkit-transform-origin:50% 1px;position:relative;margin:5px 5px 5px 5px}
a.openpanel em{width:0px;height:0px;display:block;position:absolute;top:15px;right:15px;border:6px solid transparent;border-top-color:white}
a.openpanel.active{background:#242424;box-shadow:0px 1px 3px rgba(46,65,133,0.4);-webkit-box-shadow:inset 0px 1px 0px rgba(0,0,0,0.4),inset 0px 2px 0px rgba(255,255,255,0.2),0px 1px 3px rgba(0,0,0,0.4);-moz-box-shadow:inset 0px 1px 0px rgba(0,0,0,0.4),inset 0px 2px 0px rgba(255,255,255,0.2),0px 1px 3px rgba(0,0,0,0.4);box-shadow:inset 0px 1px 0px rgba(0,0,0,0.4),inset 0px 2px 0px rgba(255,255,255,0.2),0px 1px 3px rgba(0,0,0,0.4)}
a.openpanel.active em{top:6px;border}
div.paneline{height:0px;-webkit-transition:all .15s ease-in-out;-webkit-transform-origin:50% 1px}
div.kerenPanel{padding:10px 20px 20px;margin:0px 0px !important}
a.openpanel em{width:0px;height:0px;display:block;position:absolute;top:15px;right:15px;border:6px solid transparent;border-top-color:white}
a.openpanel.active{background:#333;box-shadow:0px 1px 3px rgba(46,65,133,0.4);-webkit-box-shadow:inset 0px 1px 0px rgba(0,0,0,0.4),inset 0px 2px 0px rgba(255,255,255,0.2),0px 1px 3px rgba(0,0,0,0.4);-moz-box-shadow:inset 0px 1px 0px rgba(0,0,0,0.4),inset 0px 2px 0px rgba(255,255,255,0.2),0px 1px 3px rgba(0,0,0,0.4);box-shadow:inset 0px 1px 0px rgba(0,0,0,0.4),inset 0px 2px 0px rgba(255,255,255,0.2),0px 1px 3px rgba(0,0,0,0.4)}
a.openpanel.active em{top:6px;border-color:transparent transparent white transparent}
#backtop{cursor:pointer;position:fixed !important;position:absolute;bottom:-40px;right:-40px;z-index:999;width:30px;height:30px;background-color:#067BAF;border:1px solid #000;overflow:hidden;background-image:-webkit-radial-gradient(top,#333333,#242424);background-image:-moz-radial-gradient(top,#333333,#242424);background-image:-ms-radial-gradient(top,#333333,#242424);background-image:-o-radial-gradient(top,#333333,#242424);background-image:radial-gradient(top,#333333,#242424);-webkit-border-radius:10px 0 0 0;-moz-border-radius:10px 0 0 0;border-radius:10px 0 0 0;text-indent:-9999px;-webkit-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5),0 1px 3px black;-moz-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5),0 1px 3px black;box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5),0 1px 3px black}
#backtop:after{content:"";display:block;width:0;height:0;border-width:10px 4px;border-style:solid;border-color:transparent transparent #C3D1D7 transparent;position:absolute;top:0;left:11px}
#backtop:focus{outline:none}
#backtop:hover:after{border-bottom-color:white}
#backtop:active{background-image:-webkit-linear-gradient(top,#242424,#333333);background-image:-moz-linear-gradient(top,#242424,#333333);background-image:-ms-linear-gradient(top,#242424,#333333);background-image:-o-linear-gradient(top,#242424,#333333);background-image:linear-gradient(top,#242424,#333333)}
#sidenav{position:fixed !important;position:absolute;top:60px;left:0px;z-index:999;background-color:#eee;border:1px solid #ccc;width:auto;height:auto;text-indent:-99999px;font:normal 12px Arial,Sans-Serif !important;-webkit-box-shadow:0px 1px 7px -3px rgba(0,0,0,0.4);-moz-box-shadow:0px 1px 7px -3px rgba(0,0,0,0.4);box-shadow:0px 1px 7px -3px rgba(0,0,0,0.4)}
#sidenav ul{margin:0px 0px;padding:0px 0px}
#sidenav li{margin:0px 0px;padding:0px 0px;list-style:none;display:block;position:relative}
#sidenav a{display:block;width:20px;border-bottom:1px solid #ccc;color:#666;text-decoration:none;-webkit-box-shadow:inset 0px 0px 0px 1px white;-moz-box-shadow:inset 0px 0px 0px 1px white;box-shadow:inset 0px 0px 0px 1px white}
#sidenav li:last-child a{border-bottom:none}
#sidenav span.ttp{display:block;position:absolute;top:0px;font:normal 94% Arial,Sans-Serif;background-color:#39f;color:white;padding:0px 10px;line-height:22px;height:22px;width:auto;left:100%;z-index:77;margin-left:17px;text-indent:0px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;display:none}
#sidenav span.ttp em{display:block;width:0px;height:0px;border:4px solid transparent;border-right-color:#39f;position:absolute;top:7px;right:100%}
#sidenav li ul{width:150px;height:auto;background:transparent;border:none;position:absolute;top:-1px;left:100%;-webkit-box-shadow:0px 1px 7px -3px rgba(0,0,0,0.4);-moz-box-shadow:0px 1px 7px -3px rgba(0,0,0,0.4);box-shadow:0px 1px 7px -3px rgba(0,0,0,0.4);display:none}
#sidenav li ul a{border:1px solid #ccc;border-bottom:none;background-color:#eee;display:block;width:auto;padding:0px 10px;line-height:25px;text-indent:0px;-webkit-box-shadow:inset 0px 0px 0px 1px white;-moz-box-shadow:inset 0px 0px 0px 1px white;box-shadow:inset 0px 0px 0px 1px white}
#sidenav li a:hover{background-color:#ddd}
#sidenav li ul li:last-child a{border-bottom:1px solid #ccc}
#sidenav a.main{background-image:url('http://2.bp.blogspot.com/-pQmQj23MLqw/T1B1oMe2dkI/AAAAAAAACRM/v7lJwfOx7E8/s1600/main-sprites.png');background-repeat:no-repeat;width:26px;height:25px}
#sidenav a.home{background-position:5px 4px}
#sidenav a.about{background-position:5px -22px}
#sidenav a.archive{background-position:5px -48px}
#sidenav a.share{background-position:5px -73px}
#sidenav a.photos{background-position:5px -100px}
#sidenav a.contact{background-position:5px -126px}
#sidenav li ul a.social{background-image:url('http://4.bp.blogspot.com/-MMAhoy9RmUc/T1B1sECtnqI/AAAAAAAACRU/Muf_Gv2zkzI/s1600/social-sprites.png');background-repeat:no-repeat;padding-left:30px !important}
#sidenav li ul a.blogger{background-position:5px 4px}
#sidenav li ul a.facebook{background-position:5px -21px}
#sidenav li ul a.twitter{background-position:5px -47px}
#sidenav li ul a.googleplus{background-position:5px -73px}
#sidenav li ul a.flickr{background-position:5px -99px}
#sidenav li ul a.rss{background-position:5px -125px}
#sidenav li ul a.mail{background-position:5px -151px}
#sidenav li:hover .fallback{display:block}
