
#navbar-iframe {height:0px;visibility:hidden;display:none;}
header, nav, section, aside, article, footer {display:block;}
/* Use this with templates/template-twocol.html */
body, .body-fauxcolumn-outer {
background:#ececec;
margin:0;
padding:0;
color:#444;
font:normal normal 13px/20px &quot;Roboto_Regular&quot;,&quot;Roboto&quot;,&quot;Roboto Regular&quot;,&quot;Franklin Gothic Medium&quot;,&quot;Franklin Gothic Book&quot;,&quot;Lucida Sans&quot;,&quot;Lucida Sans Unicode&quot;,Helmet,Freesans,Sans-Serif;
text-align:center;
height:100%;
min-height:100%;
}
a:link {
color:#21afa4;
text-decoration:none;
}
a:visited {
color:#21afa4;
text-decoration:none;
}
a:hover {
color:#a9d86e;
text-decoration:none;
}
a img {
border-width:0;
}
b{font-weight:600}
@font-face {
  font-family:&#39;Gnuolane&#39;;
  src:url(&#39;http://yourjquery.url.ph/assets/css/fonts/gnuolane_font.woff&#39;) format(&#39;woff&#39;);
  font-style:normal;
  font-weight:normal;
}
/* Header
-----------------------------------------------
*/
#header-wrapper {width:100%;background:#a9d86e url(https://sites.google.com/site/cssgue/hd88/bb88.png);padding:65px 0 25px 0;margin-bottom:20px;}
#header {text-align:center;color:#777;margin:0;}
#header h1, #header p {font-family:Oswald;font-size:300%;font-weight:normal;color:#fff;text-shadow:0 3px 2px #333;text-transform:uppercase;}
#header a {color:#fff;text-decoration:none;transition:all 0.3s ease 0s;}
#header a:hover {color:#eee;}
#header .description {margin:0 5px 5px;padding:0 20px 15px;text-transform:uppercase;
letter-spacing:.2em;line-height:1.4em;font:normal normal 78% &#39;Oswald&#39;, Trebuchet, Arial, Verdana, Sans-serif;color:#fff;text-shadow:0 1px 2px rgba(0,0,0,0.4);}
#header img {margin-left:auto;margin-right:auto;}
/* Top Menu
----------------------------------------------- */
 #top-nav {
background:#333;
box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
height:40px;
width:100%;
min-width:970px;
position:fixed;
top:0;
left:0;
z-index:9999;
overflow:hidden;
border-bottom:1px solid #000;
}
#top-nav ul {
margin:0 auto;margin-right:5%;
width:970px;
}
#top-nav ul{list-style: none;}
#top-nav ul li {
float:right;
}
#top-nav ul li a {
font-family:Oswald;line-height:30px;padding:5px 0;margin-left:5px;color:#999;font-size:14px;text-transform:uppercase;display:block;text-decoration:none;padding:6px 14px;box-shadow:transparent;transition:0.4s all ease-in-out;
}
#top-nav ul li a.current{color:#fff;background:none;box-shadow:inset 0px -40px 0px 0px rgba(169,216,110,1);}
#top-nav ul li a:hover{color:#fff;background:none;box-shadow:inset 0px -40px 0px 0px rgba(128,188,0,1);}
#logo{background:#80bc00;border-radius:5%;padding:3px 2px 0 7px;float:left;font-family:&#39;Oswald&#39;,Verdana,Sans-serif;line-height:1.2em;font-size:30px;font-weight:bold;margin-left:5%;}
#logo a{color:#333;text-decoration:none;}
#logo a:hover{color:#333;text-decoration:none}


/* Navigation
----------------------------------------------- */
#menu{background:none;color:#4a4a4a;border-bottom:2px solid #d9d9d9;height:45px;font-family:&#39;BebasLah&#39;, &#39;Oswald&#39;, Arial, sans-serif;width:980px;margin:15px auto;position:relative;margin-top:-23px}
#menu ul,#menu li{margin:0 auto;padding:0 0;list-style:none}
#menu ul{height:45px;width:980px}
#menu li{float:left;display:inline;position:relative;font:bold 14px &#39;Oswald&#39;, &#39;BebasLah&#39;;text-transform:uppercase;font-weight:normal}
#menu a{display:block;line-height:45px;padding:0 14px;text-decoration:none;color:#4a4a4a;font-weight: 400;font-family: &#39;Oswald&#39;, &#39;BebasLah&#39;, Arial, Helvetica, sans-serif;text-transform: uppercase;}
#menu li a.current{background:none;}
#menu li a:hover, #menu li a:focus {color:#fff;background-color:#2c3e50;transition: all 0.3s ease-in;}
#menu input{display:none;margin:0 0;padding:0 0;width:80px;height:30px;opacity:0;cursor:pointer}
#menu label{font-size:20px;display:none;width:35px;height:20px;line-height:20px;text-align:center;color:#fff}
#menu label span{font:normal 14px &quot;Open Sans&quot;;position:absolute;left:35px;}
#menu ul.menus{height:auto;overflow:hidden;width:180px;background:#2c3e50;position:absolute;z-index:99;display:none;}
#menu ul.menus li{display:block;width:100%;font-size:13px;text-transform:none;text-shadow:none}
#menu ul.menus a{color:#fff;text-transform:uppercase;border-right:none}
#menu li:hover ul.menus{display:block}
#menu a.dropdown{padding:0 27px 0 14px}
#menu a.dropdown::after{content:&quot;&quot;;width:0;height:0;border-width:6px 5px;border-style:solid;border-color:#999 transparent transparent transparent;position:absolute;top:20px;right:9px}
#menu ul.menus a:hover{background:#21afa4;color:#fff}

/* Outer-Wrapper
----------------------------------------------- */
#outer-wrapper, #outer-wrapper2 {
width:100%;
margin:0 auto;
text-align:left;
}
#left-group {
  width:73.6%;
  float:left;
  background:none;
}
#content-wrapper {margin-top:35px}
#main-wrapper {
  width:63.15%;
  float:left;
  margin-left:5%;
  word-wrap:break-word; /* fix for long text breaking sidebar float in IE */
  overflow:hidden;     /* fix for long non-text content breaking IE sidebar float */
}

#sidebar-wrapper {width:25%;float:right;margin-right:5%;
word-wrap:break-word; /* fix for long text breaking sidebar float in IE */
overflow:hidden;      /* fix for long non-text content breaking IE sidebar float */
}
#sidebar-wrapper h3 {background:none;color:#fff;padding:15px;margin:0;font-size:20px;
font-weight:normal !important;}
#sidebar-wrapper .widget-content {padding:0;margin:0;}


/* Toogle
------------------ */
/* btn */
.menu {
	position: relative;
	display:  inline-block;
	width: 30px;
	height: 10px;
	margin: 25px;
    right:36%
}
.menu span {
	margin: 0 auto;
	position: relative;
    bottom:5px
}  
.menu span:before, .menu span:after {
	position: absolute;
	content: &#39;&#39;;
}
.menu span, .menu span:before, .menu span:after {
	width: 30px;
	height: 3px;
	background-color: #000;
	display: block;
}
.menu span:before {
	margin-top: -7px;
}
.menu span:after {
	margin-top: 7px;
}
/* toogle */
.toogle span {
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: .2s;
}
.toogle:hover span {
	background-color: rgba(0,0,0,0.0);
	-webkit-transition-delay: .2s;
}
.toogle span:before {
	-webkit-transition-property: margin, -webkit-transform;
	-webkit-transition-duration: .2s;
	-webkit-transition-delay: .2s, 0;
}

/* Iklan Atas
------------------ */
#iklan-atas{
margin:15px 0 55px 0;
display:inline;
}
#iklan-atas img{
border:1px solid #d9d9d9;
}
.kanan{
float:right;
}
.kiri{
float:left;
margin-bottom:40px;
}
  .share {border-top:1px solid #eceef5;font-size:16px;padding:13px 20px 11px 20px;position:relative;border-radius:0 0 4px 4px;margin:25px -20px -20px -20px;position:relative}
  .edit-entri {position:absolute;right:15px;bottom:12px}
/* Headings
----------------------------------------------- */
h5 {
margin:0;
padding:0;
}
/* Posts
-----------------------------------------------
*/
.date-header {
margin:1.5em 0 .5em;
display:none;
}
.post {
margin:0 0 1.5em;
padding:2.5%;
background-color:#fff;
border-radius:5px;
overflow:hidden;
}
.post h2 {
margin-top:15px;
padding:0 0 4px;
font-size:240%;
font-weight:normal;
line-height:1.4em;
color:#222;
font-family:Gnuolane, Oswald, Arial, Sans-Serif;
}
.post h2 a, .post h2 a:visited, .post h2 strong {
display:block;
text-decoration:none;
color:#4a4a4a;
}
.post h2 strong, .post h2 a:hover {
color:#80bc00;
}
.post h4{font-family:Gnuolane, Oswald, Arial, Sans-Serif;font-size:180%;color:#222;margin:40px 0 15px;padding:0;font-weight:normal}
.post .post-title {
margin-bottom:15px;
margin-top:20px;
}
.post-body {
margin:0 0 .75em;
line-height:1.8em;
}
.post-body img{background:url(http://1.bp.blogspot.com/-FtjYIC5-Gpo/UjFdcUC6M3I/AAAAAAAAFZA/XbSQR7OOOUA/s1600/preloader.gif)no-repeat 50% 50%}
.post-body h3{
background:url(http://1.bp.blogspot.com/-AXMPCFNM3JI/UYsuSywmXGI/AAAAAAAAEC0/3rC3JGXXNNI/s1600/bottom-line.gif) left bottom no-repeat;
font-size:200%;
font-weight:400;
margin:5px 0;
padding-bottom:12px;
font-family:Gnuolane, Oswald, Arial, Sans-Serif;
}
.post-body h3 code {font-size:100%}
.post-body h4{
font-size:180%;
font-weight:normal;
margin-top:20px !important;
margin-bottom:10px;
padding-bottom:12px;
margin-top:0;
}
.post-body img {
max-width: 98%;
border-width: 0;
padding: 0;
margin-right: 10px;
border:1px solid #b1b1b1;
box-shadow:0 0 5px  #aaa;
page-break-after:always;
}
.post-footer {
margin:.75em 0;
color:#999999;
letter-spacing:.1em;
line-height:1.4em;
font-size:80%;
padding: 5px 0px 5px 0px;
margin: 30px 0px 15px 0px;
display:none;
}
.post-footer ul{
margin-left:0;
}
.comment-link {
margin-left:.6em;
}
.tr-caption-container img {
border:none;
padding:0;
}
table, td, th{
border:1px solid #ddd;
}
blockquote {
font-family: Georgia, serif;
font-size: 15px;
font-style: italic;
margin: 0.25em 0;
padding: 15px 20px 15px 50px;
border: dashed 1px #ccc;
line-height: 1.45;
color: #666;
background: #fff url(http://4.bp.blogspot.com/-iI7HGbwS9Q8/UjR7vI0-60I/AAAAAAAAFdM/tAFQUhxBoTo/s1600/bg-blockquote.gif) no-repeat 15px 18px;
clear: both;
}
blockquote code {font-size:100%}
blockquote.twitter-tweet {
font-size: 15px;
font-style: italic;
text-align:center;
margin: 0 auto;
padding: 15px 20px 15px 50px;
border: dashed 1px #ccc;
line-height: 1.45;
color: #666;
background: #fff url(http://4.bp.blogspot.com/-iI7HGbwS9Q8/UjR7vI0-60I/AAAAAAAAFdM/tAFQUhxBoTo/s1600/bg-blockquote.gif) no-repeat 15px 18px;
clear: both;
}

#comments blockquote,b[rel=&quot;quote&quot;] {
background:#2e5781 url(http://3.bp.blogspot.com/-IROflX-uSp8/Ukj9lOGBezI/AAAAAAAAFqM/1xfH8r4baBg/s1600/icon-info.png) no-repeat 2% 50%;
color:#d9e5f0;
line-height: 22px;
border: 1px solid #3c6894;
padding:12px 15px 12px 45px;
margin:0px 0 5px 0;
border-radius:3px;
font-size: 13px;
font-family:&#39;Open Sans&#39;, Arial;
font-style: normal;
}
.note {
background:#f9f7b8 url(http://3.bp.blogspot.com/-IROflX-uSp8/Ukj9lOGBezI/AAAAAAAAFqM/1xfH8r4baBg/s1600/icon-info.png) no-repeat 2% 50%;
color:#2c3e50;
line-height: 22px;
border: 1px solid #e5e283;
padding:12px 15px 12px 45px;
margin:0;
border-radius:5px;
font-family: &#39;Montserrat&#39;, &#39;Segoe UI&#39;,Arial,Tahoma, sans-serif;
font-size: 14px;
font-style: normal;
}
  .catatan{display:block;font-style:normal;color:#555;padding:15px 18px 15px 48px;position:relative;background-color:#f8e38d;border-radius:4px;border-bottom:1px solid rgba(0,0,0,.1);}
.catatan:before{font-family:&#39;fontAwesome&#39;;display:block;position:absolute;top:15px;left:16px;color:rgba(0,0,0,.18);font-size:24px;line-height:1}
.catatan:before{content:&quot;\f05a&quot;}
img.ki-smiley {
height: auto !important;
vertical-align: middle !important;
margin-bottom: 3px;
width: auto !important;
border:0px !important;
box-shadow:none;
}
/*-- Modifikasi Pesan Komentar--*/
#threaded-comment-form p{
position: relative;
color:#999 !important;
padding: 10px;
font-size: 14px;
font-weight:400;
line-height: 1.6em;
margin-top: 10px;
border-radius:2px;
background:#54687c;
width:95%;
}
#blog-pager-newer-link {
float:left;
}
#blog-pager-older-link {
float:right;
}
#blog-pager {
text-align:center;
padding-right:2%;
padding-top:2%;
padding-bottom:5%;
font-family:Arial, sans-serif;
font-weight:normal;
}
.feed-links {
display:none;
}

#comments .small-button{
color:#fff;
margin-right:10px;
padding:4px 15px;
background-color:#21afa4;
font-size:12px;
font-family: &#39;Open Sans&#39;, sans-serif, &#39;Segoe UI&#39;,Arial,Tahoma;
font-weight:400;
text-transform:none;
border-radius:4px;
text-decoration:none;
outline:none;
box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 2px #333;
text-shadow:0px -1px 0px rgba(0,0,0,0.3);
transition: background-color 1s ease-out 0s;
}
#comments .small-button a{
color:#fff !important;
}
#comments .small-button a:hover{
text-decoration:none;
}
#comments .small-button:hover {
background-color:#106c65;
color:#ffffff;
}

#comments .orange-button{
color:#fff;
margin-right:10px;
padding:4px 15px;
background-color:#E55E48;
font-size:12px;
font-family: &#39;Open Sans&#39;, sans-serif, &#39;Segoe UI&#39;,Arial,Tahoma;
font-weight:400;
text-transform:none;
border-radius:4px;
text-decoration:none;
outline:none;
box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 2px #333;
text-shadow:0px -1px 0px rgba(0,0,0,0.3);
transition: background-color 1s ease-out 0s;
cursor:pointer;
}
#comments .orange-button a{
color:#ffffff !important;
}
#comments .orange-button a:hover{
text-decoration:none;
}
#comments .orange-button:hover {
background-color:#af3b28;
color:#ffffff;
}

.orange-button{
color:#fff;
margin-right:10px;
padding:5px 15px 4px 15px;
background-color:#E55E48;
font-size:12px;
font-family: &#39;Open Sans&#39;, sans-serif, &#39;Segoe UI&#39;,Arial,Tahoma;
font-weight:400;
text-transform:none;
border-radius:5px;
text-decoration:none;
outline:none;
box-shadow:inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 1px #888;
transition: background-color 1s ease-out 0s;
}
a.lightbox.orange-button{
color:#ffffff !important;
}
.orange-button a:hover{
text-decoration:none;
}
.orange-button:hover {
background-color:#af3b28;
color:#ffffff;
}


/* Sidebar Content
----------------------------------------------- */
.sidebar {color:#fff;line-height:1.5em;}
.sidebar h2 {font-family:&#39;Oswald&#39;,Verdana,Sans-serif;line-height:1.2em;font-size:15px;font-weight:bold;color:#fff;padding:10px 8px;
margin:0;text-transform:uppercase;background:#80bc00;text-shadow:0 1px 1px #333;}
.sidebar h3 {color:#fff !important;padding:5px 0px 15px 0px !important;margin: -1px -1px 0;font-weight:normal;text-transform:uppercase;font-family:Oswald;}
.sidebar ul {  margin: 0 !important;  padding: 0 !important;  }
.sidebar ul li {  list-style: none;  border-bottom: 1px dashed #ccc;  border-top: 1px dashed #FFFFFF;  padding: 5px !important;  }
.sidebar ul li:first-child  {  border-top: 0;  }
.sidebar ul li:last-child  {  border-bottom: 0;  }
.sidebar ul li:hover {  background: #fafafa;  text-decoration: none;  }
.sidebar ul li a {  color: #404040;  display: block;  padding: 6px}
.sidebar ul li a:hover {  color: #262626;  text-decoration: none;  }
.widget.PopularPosts{background:#fff !important;}
.sidebar .widget {margin-bottom:20px;background:#fff;}

main .widget {margin-bottom:15px;padding:0;}
.main .Blog {border-bottom-width:0;}

.sticky {
  position:fixed;
  top:85px;
  z-index: 100;
  width:274px;
}
  #stickywidget {
    display:block;
    clear:both;
    background:none;
    padding:15px;
  }
.sticky {position:relative;width:100%;display:block !important;margin-top:-85px}
}
  #stickywidget h3 {color: #666 !important;padding: 5px 0px 15px 0px !important;  margin: -1px -1px 0;font-weight:normal;}

/* Kotak Iklan
----------------------------------------------- */
  .kotak_iklan {text-align: center;margin-top:10px;margin-bottom:8px;background:#8fd1e9;padding-top:11px;border-radius:5px}
.kotak_iklan  img {margin: 0px 0px 4px 6px;padding: 6px;text-align: center;background:#ebf5f9}
.kotak_iklan  img:hover {background:#fff}
.kotak_iklan300 {text-align: center;margin-top:0px;}
/* Iklan Teks
----------------------------------------------- */
#iklan-teks {
  width:304px;
  height:259px;
  background-color:#82a5ce;
  position:relative;
    overflow:hidden;
}
#iklan-teks h2.iklan-header {
  cursor:pointer;
  background-color:#82a5ce;
  background-image:none;
  font:normal 20px Verdana, Tahoma,Serif;
  color:#fff;
  border-top:1px solid #98b7db;
  padding:10px;
  margin:0 0;
  position:relative;
}
#iklan-teks h2.active {
  display: none;
}
#iklan-teks h2.iklan-header:before{
  content:&quot;&quot;;
  width:0;
  height:0;
  position:absolute;
  top:20px;
  right:15px;
  border:5px solid transparent;
  border-color:#dbe5f1 transparent transparent;
}
#iklan-teks div {
  height:100px;
  padding:10px 50px 10px 10px;
  font:normal 13px Verdana, Tahoma,Serif;
  color:white;
  border-top:1px solid #98b7db;
}
.judul {
  font:normal 20px Verdana, Tahoma,Serif;
  color:white;
  margin:0 0 5px 0;
}
a.judul{
  font:normal 20px Verdana, Tahoma,Serif !important;
  color:#fff !important;
  text-decoration:none;
    display:inline-block;
}
a:hover.judul {
  font:normal 20px Verdana, Tahoma,Serif !important;
  color:#fff;
  text-decoration:underline;
}
.isi-iklan a{
  font:normal 13px Verdana, Tahoma,Serif;
  color:#f1f5f9;
  text-decoration:none;
  display:block;
    margin-bottom:10px;
}
.isi-iklan a:hover{
  color:white;
  text-decoration:none;
}
.isi {
  padding-top:15px;
  color:#d2ddea;
}
.panah-besar {
  background: #6b89ac;
  border-radius: 50%;
  cursor: pointer;
  height: 34px;
  float: right;
  margin-right: -40px;
  margin-top: -40px;
  width: 34px;
  text-align: center;
  line-height: 34px;
}
.panah-besar:hover {
  background: #57769a;
}
.info-icon {
  width:15px;
  height:15px;
  position:absolute;
  top:0;
  right:0;
  cursor:pointer;
}
.info-iklan {
  background:#d3d3d3;
  width:100px;
  height:15px;
  border-bottom-left-radius:4px;
  position:absolute;
  top:0;
  right:0;
  color:#000;
  font:normal 11px Arial,Sans-Serif;
  text-align:left;
  overflow:hidden;
  padding-right:19px;
  padding-left:5px;
  display:none;
}
/* Profile
----------------------------------------------- */
.profile-img {
float:left;
margin-top:0;
margin-right:5px;
margin-bottom:5px;
margin-left:0;
padding:4px;
border:1px solid #cccccc;
}
.profile-data {
margin:0;
text-transform:uppercase;
letter-spacing:.1em;
font:normal normal 78% Cuprum;
color:#999999;
font-weight:bold;
line-height:1.6em;
}
.profile-datablock {
margin:.5em 0 .5em;
}
.profile-textblock {
margin:0.5em 0;
line-height:1.6em;
}
.profile-link {
font:normal normal 78% Cuprum;
text-transform:uppercase;
letter-spacing:.1em;
}
/* Footer
----------------------------------------------- */
#footer{background:#333;width:100%;padding:0;position:relative;clear:both;}
.footer-wrapper{color:#fff;font-size:14px;height:100%;line-height:15px;overflow:hidden;padding-left:5%;}
.footer{float:left;width:30.5%;margin:10px}
.footer .widget{margin-bottom:30px}
.footer h2{display:inline-block;color:#eee;font-family:&#39;Oswald&#39;,Verdana,Sans-serif;line-height:1.2em;font-size:1.5em;font-weight:400;padding:3px 0;margin:0 0 0 0;text-transform:uppercase;}
.footer .widget-content{line-height:17px}
.footer ul{list-style:none;color:#fff;margin:0;padding:0}
.footer li{text-indent:0;line-height:1.4em;margin:0;padding:2px 0 3px 0px;font-size:14px;text-shadow:0 -1px 0px #000}
.footer a:link,.footer li a:visited{color:#fff;text-decoration:none}
.footer li a:hover{color:#333}
#credit{font-family:Oswald;background:#a9d86e;border-top:5px solid #8dbc52;text-align:center;font-size:14px;padding:20px 0;margin-bottom:-51px;color:#fff;text-transform:uppercase;}
#credit a{font-family:Oswald;color:#fff;text-decoration:none;text-transform:uppercase;transition:all 0.3s ease 0s;}
#credit a:hover{color:#fff;text-decoration:none}
/* Label
----------------------------------------------- */
#Label1 ul {
margin-left:0px;
}
#Label1 li {
float: left;
display: inline;
margin: 0 5px 5px 0;
padding: 0 5px;
height: 24px;
line-height: 24px;
color: #8e8e8e;
background-color: #545454;
transition:  background-color 0.5s linear;
}
#Label1 li:hover {
background:#171616;
}
#Label1 li a {
padding: 0 8px;
font-family:Gnuolane, Oswald, Arial, Sans-Serif;text-transform:uppercase;color:#fff;font-size:14px;display:block;
transition: color 0.5s linear;
}
#Label1 a:hover {
color: #fff;
}
img {
max-width:100%;
height:auto;
width:auto;
text-align:center;
}
.dp-thumbnail{border:none;box-shadow:none;width:290px;height:175px;text-align:center;float:left;margin:-25px 15px -30px -19px;position:relative;background:#a9d86e url(http://1.bp.blogspot.com/-FtjYIC5-Gpo/UjFdcUC6M3I/AAAAAAAAFZA/XbSQR7OOOUA/s1600/preloader.gif)no-repeat 50% 50%;border-radius:5px 0 0 5px}
.dp-thumbnail img{border:0;padding:0;width:120px;height:120px;border-radius:100px;margin-top:19px;}
.dp-thumbnail:before{
content:&quot;&quot;;
width:0;
height:0;
position:absolute;
top:45%;
right:0;
border:7px solid transparent;
border-color:transparent #fff transparent transparent;
}
.dp-thumbnail span{font-size:26px;line-height:90px;font-weight:bold;color:#eee}
  .dp-thumbnail.CSS {background:#a9d86e}
.dp-thumbnail.Komentar {background:#f1c40f}
.dp-thumbnail.Request {background:#ff6c60}
.dp-thumbnail.Opini {background:#ff6c60}
.dp-thumbnail.Tutorial {background:#5f90b4}
.dp-thumbnail.Widget {background:#82a5ce}
.dp-thumbnail.SEO {background:#dfbc42}
.dp-thumbnail.Font {background:#98cdca}
.dp-thumbnail.jQuery {background:#24887B}


.searchresults{background:url(http://1.bp.blogspot.com/-FtjYIC5-Gpo/UjFdcUC6M3I/AAAAAAAAFZA/XbSQR7OOOUA/s1600/preloader.gif)no-repeat 50% 80%}
/* Page Navigation
----------------------------------------------- */
#showpageArea {font:normal normal 11px Verdana, Geneva, sans-serif;margin-top:0;padding-top:0;}
.showpageArea a {font-size:14px;font-weight:bold;text-decoration:none;}
.showpageNum a {background:#eee;font-size:14px;font-weight:bold;text-decoration:none;border:1px solid #ccc;margin:0 2px;padding:6px 10px;color:#474747;transition: all 0.3s ease-in;}
.showpageNum a:hover {border:1px solid #8dbc52;background-color:#a9d86e;color:#fff;}
.showpagePoint {border:1px solid #8dbc52;background-color:#a9d86e;color:#fff;font-size:14px;font-weight:bold;text-decoration:none;margin:0 2px;padding:6px 10px;}
.showpageOf {display:none;font-size:14px;font-weight:bold;text-decoration:none;padding:6px 10px;margin: 0 2px 0 0;color: #ccc;text-transform:none;}
.showpage a {border:1px solid #8dbc52;background-color:#a9d86e;color:#fff;font-size:14px;font-weight:bold;text-decoration:none; padding:6px}
.showpage a:hover {border:1px solid #8dbc52;background-color:#a9d86e;color:#fff;text-decoration:none;}
.showpageNum a:link,.showpage a:link {text-decoration:none;}
/***** Popular Post *****/
.PopularPosts {  background: #F2F2F2;  border: 1px solid #E3E3E3;  }
.PopularPosts h2 {font-family:&#39;Oswald&#39;,Verdana,Sans-serif;line-height:1.2em;font-size:15px;font-weight:bold;color:#fff;padding:10px 8px;
margin:0;text-transform:uppercase;background:#80bc00;text-shadow:0 1px 1px #333;}
.PopularPosts .widget-content {  font-size: 14px;  margin: 0 !important;  }
.popular-posts ul {  margin: 0 !important;  padding: 0 !important;  }
.popular-posts ul li {  list-style: none;  border-bottom: 1px dashed #ccc;  border-top: 1px dashed #FFFFFF;  padding: 5px !important;  }
.popular-posts ul li:first-child  {  border-top: 0;  }
.popular-posts ul li:last-child  {  border-bottom: 0;  }
.popular-posts ul li:hover {  background: #fafafa;  text-decoration: none;  }
.popular-posts ul li a {  color: #404040;  display: block;  padding: 6px}
.popular-posts ul li a:hover {  color: #262626;  text-decoration: none;  }
/***** Poge Loader *****/
#page-loader {
position:fixed !important;
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
z-index:9999;
background:#000 url(&#39;http://3.bp.blogspot.com/-sW166HTPK4U/UY2kVNdjsFI/AAAAAAAAEHk/fIO-B-mOeCE/s200/load6.gif&#39;) no-repeat 50% 30%;
color:white;
padding:1em 1.2em;
display:none;
text-shadow:none;
}
/* Syntax Highlghter
----------------------------------------------- */
pre,i[rel=&quot;pre&quot;] {
padding:.8em 1em;
margin:0;
background-color:#2f3741;
border-left:4px solid #40627E;
font-size:13px;
color:#839496;
font-family: Consolas,&quot;Andale Mono WT&quot;,&quot;Andale Mono&quot;,&quot;Lucida Console&quot;,&quot;Lucida Sans Typewriter&quot;,&quot;DejaVu Sans Mono&quot;,&quot;Bitstream Vera Sans Mono&quot;,&quot;Liberation Mono&quot;,&quot;Nimbus Mono L&quot;,Monaco,&quot;Courier New&quot;,Courier,Monospace;
line-height:1.4em;
position:relative;
white-space: pre;
word-wrap: normal;
white-space:pre;
overflow:auto
}
pre.line-number {
background:#2f3741 url(http://4.bp.blogspot.com/-13ewIh6Vm50/UnBe-_3zqDI/AAAAAAAAF-o/4FNnjpi-N5c/s1600/new-line-number.png)no-repeat top left;
padding-left:54px;
border-left:none;
}
  pre.line-number:after{
    content:&quot;&quot;;
    width:35px;
    height:8px;
    background-color:#39424e;
    bottom:0;
    left:0;
    position:absolute;
  }

pre[data-codetype=&quot;CSS&quot;]{border-left-color:#5fbbba}
pre[data-codetype=&quot;HTML&quot;]{border-left-color:#4fc1eb}
pre[data-codetype=&quot;JavaScript&quot;]{border-left-color:#ff6c60}
pre[data-codetype=&quot;JQuery&quot;]{border-left-color:#99c262}

pre.line-number[data-codetype]:before {
content:attr(data-codetype);
display:block;
margin:-11px -13px 10px -54px;
padding:8px 12px;
font-family:Oswald,Arial,Sans-serif;
font-size:14px;
text-transform:uppercase;
background-color:#41749f;
color:white
}
pre.line-number[data-codetype=&quot;CSS&quot;]:before{background-color:#a9d86e}
pre.line-number[data-codetype=&quot;HTML&quot;]:before{background-color:#4fc1eb}
pre.line-number[data-codetype=&quot;JavaScript&quot;]:before{background-color:#ff6c60}
pre.line-number[data-codetype=&quot;JQuery&quot;]:before{background-color:#99c262}

code {
font-family: Consolas,&quot;Andale Mono WT&quot;,&quot;Andale Mono&quot;,&quot;Lucida Console&quot;,&quot;Lucida Sans Typewriter&quot;,&quot;DejaVu Sans Mono&quot;,&quot;Bitstream Vera Sans Mono&quot;,&quot;Liberation Mono&quot;,&quot;Nimbus Mono L&quot;,Monaco,&quot;Courier New&quot;,Courier,Monospace;
font-size:13px;
color: #d14;
}
#comments code {
 color:#bbbb6d;
}
#comments pre {
    margin-bottom:-15px;
}
pre code {
padding:0 !important;
color: #a3a49a;
background: none !important;
border:none !important;
display:block;
}
pre mark {background-color:#1a5752;color:#a3a483}
pre .line-number {
  float:left;
  margin:0 1em 0 -1em;
  color:#61686d;
  background-color:#39424e;
  text-align:right;
  min-width:2.5em;
    padding-right:4px;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
color: #586e75;
font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .rules .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
color: #7195a3;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl .literal,
pre .id,
pre .css .function {
color: #569dcf;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
color: #aa985a;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title,
pre .css .pseudo {
color: #509a55;
}
pre .deletion {
color: #dc322f;
}
pre .tex .formula {
background: #073642;
}

.infoku a{
color:#E80000;
}
mark{background:#d33f04;color:#fff;padding:1px 6px;margin-right:5px;}
.spammer-detected{color:#888;font-style:italic;font-size:90%}
.status-msg-wrap{display:none}
.item-image{
width:auto;
padding:25px 0 15px 0;
text-align:center;
background:#dce4e5;
}
/* -- BUTTON --*/
.button{
float:left;
list-style:none;
text-align:center;
width: 100%;
margin:5px 0;
padding:0;
font-size:14px;
clear:both;
}
.button ul {
margin:0;
padding:0
}
.button li{
display:inline;
margin:0;
padding:0
}

.demo {border: none;border-radius:2px;padding: 8px 18px !important; background: #E55E48; color: #fff !important;text-align: center; text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);transition: background-color .4s ease-out 0s;}
.download {border: none;border-radius:2px;padding: 8px 18px !important; background: #4d79a0; color: #fff !important;text-align: center; text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);transition: background-color .4s ease-out 0s;}
.demo:hover { background: #454242;text-decoration:none }
.download:hover { background: #454242;text-decoration:none }

.smallbutton { display:inline-block; text-decoration:none; outline:none; cursor:pointer; font:normal 12px/1em HelveticaNeue, Arial, sans-serif; padding:6px 11px; color:#555; text-shadow:0 1px 0 #fff; background:#f2f2f2; background:linear-gradient(#fff, #f9f9f9, #f0f0f0);; border:1px solid #d9d9d9; border-color:#d9d9d9 #d6d6d6 #d1d1d1;border-radius:4px;box-shadow:0 1px 2px #eaeaea, inset 0 1px 0 #fbfbfb;margin-right:10px;}
a.smallbutton, a:visited.smallbutton {color:#999; text-shadow:0 1px 0 #fff;text-decoration:none}
.smallbutton a:hover{color:#353535; text-decoration:none}
.smallbutton:hover,.smallbutton:focus { color:#555; background:#efefef; background:linear-gradient(#fff, #f9f9f9, #e9e9e9);border-color:#ccc;box-shadow:0 1px 2px #e0e0e0, inset 0 1px 0 #fbfbfb;}
.smallbutton:active { position:relative; top:1px; color:#555; background:#efefef; background:linear-gradient(#fff, #eaeaea, #f4f4f4);border-color:#c6c6c6;box-shadow:0 1px 0 #fff, inset 0 0 5px #ddd;}

/* Button
----------------------------------------------- */
.button-group, .text-center, .center {
text-align: center;
margin:15px 0;
font-size:13px;
letter-spacing:0px;
}

newbutton, input[type=&quot;newbutton&quot;], input[type=&quot;reset&quot;], input[type=&quot;submit&quot;], .newbutton, a.newbutton {
position: relative;
width: auto;
font-weight: normal;
line-height: normal;
color: #fff !important;
text-align: center;
text-shadow: 0 -1px 0 rgba(0,0,0,.2);
background-color: #78cd51;
border-color: #78cd51;
box-shadow: 0 4px #5da13f;
border-radius:5px;
padding:8px 18px;
cursor: pointer;
margin-right:15px;
}


.newbutton.download:hover, .newbutton.demo:hover, .newbutton.link:hover {
background:#6dbb4a;
}
.newbutton.download:active, .newbutton.demo:active, .newbutton.link:active {
background-color:#69b646;
box-shadow: 0 -2px #5da13f;
padding:6px 18px 12px !important;
}
.newbutton.download:before {content:&quot;\f019&quot;}
.newbutton.demo:before {content:&quot;\f06e&quot;}
.newbutton.link:before {content:&quot;\f074&quot;}
.newbutton.link:before, .newbutton.demo:before, .newbutton.download:before{font-family:&#39;FontAwesome&#39;;font-weight:normal;font-style:normal;vertical-align:middle;margin:0 8px 0 -6px;font-size:16px;color:#529534;text-shadow:0 1px 0 rgba(255,255,255,.1)}


.breadcrumbs{
 background:#ff6c60;
 padding:13px 20px 13px 65px;
 margin-bottom:19px;
 font-size:13px;
 color:#fff;
 border-radius:4px;
 position:relative;
}
.breadcrumbs a{
 color:#fddbd8;
 text-decoration:none;
}
.breadcrumbs a:hover{
 color:#fff;
 text-decoration:none;
}
.breadcrumbs:before {
 content: &quot;\f041&quot;;
 font-family:fontAwesome;
 font-size:22px;
 font-style: normal;
 background-color:#e56155;
 color:#fff;
 border-radius:4px 0 0 4px;
 top:0;
 left:0;
 padding:13px 20px;
 position:absolute;
}

  .post-label{position:absolute;top:0;right:0;z-index:99;}.post-label a{font-family: &#39;Oswald&#39;, Verdana,Sans-serif;text-transform:uppercase;background-color:#333;background-color:rgba(0,0,0,0.35);color:#fff;font-size:10px;display:block;float:left;padding:4px 8px;}.post-label:first-child a {border-radius:5px 0 0 0}.post-label a:hover{background:rgba(0,0,0,5);}
.post-info-icon{background-image:url(http://3.bp.blogspot.com/-Ejs4kT7A1cc/UkcGpzyrRzI/AAAAAAAAFpM/-BEQDsEw7kk/s1600/icnall.png);background-repeat:no-repeat;}
.post-info{display:block;margin:10px 0 15px 0px;padding:3px 0;color:#aaa;line-height:1.6em;border-top:1px dotted #e2e2e2;border-bottom:1px dotted #e2e2e2;font-size:11px;overflow:hidden;}.post-info a{color:#aaa;}
.post-info-icon{display:inline-block;float:left;margin:0 12px 0 0;}.post-info a:hover{color:#000;}.jam{background-position:0 -98px;height:16px;padding:0 0 0 17px}.komentar{background-position:0 -132px;height:16px;padding:0 0 0 17px;}.label{background-position:0 -166px;height:16px;padding:0 0 0 17px;}.admin{background-position:0 1px;height:16px;padding:0 0 0 17px;}.tanggal{background-position:0 -32px;height:16px;padding:0 0 0 17px;}
.tooltip {
display:none;
position:absolute;
border:1px solid #da6969;
background-color:#bf4848;
border-radius:3px;
padding:5px 9px;
color:#fff;
font-size:13px !important;
box-shadow: 0 1px 2px black;
}
.thumb-tooltip {
display:none;
position:absolute;
border:1px solid #333;
background-color:#161616;
border-radius:3px;
padding:5px 9px;
color:#fff;
font-size:13px !important;
}

#ContactForm1 {display: none !important;}
#comments .note, em[rel=&quot;note&quot;] {
display: block;
border: 1px solid #b3c5e0;
background-color: #e0ecff;
color: #666;
border-radius:3px;
font: normal normal 11px/normal Tahoma,Verdana,Arial,Sans-Serif;
}
#comments .attention {
display: block;
border: 1px solid #0d1319;
background-color: #172029;
color: #6c6c6c;
padding:5px 8px;
font: normal normal 11px/normal Tahoma,Verdana,Arial,Sans-Serif;
margin-bottom:-10px;
}
.resource{
display: block;
padding: 5px 10px;
border: 1px solid #b3c5e0;
background-color: #e0ecff;
color: #666;
font: normal normal 11px/normal Tahoma,Verdana,Arial,Sans-Serif;
}

#catcher{
height:1730px;/* tinggi catcher */
}
#sticky{
width:300px;/* lebar sticky */
height:auto;
}
/* Offline Mode
----------------------------------------------- */
#offline-mode{
    background:#dfdede url(http://2.bp.blogspot.com/-R5Ku6QE3eJA/UcB0jk-CZwI/AAAAAAAAEeg/WYWE1iVssOo/s1600/offline-mode.png)no-repeat 3% 50%;padding:0px 20px 20px 175px;border:1px solid #c9c9c9;margin-bottom:10px;margin-top:15px;border-radius:5px}
#offline-mode h2{
font-size:220%;
text-transform:uppercase;
color:#fff;
text-shadow: -1px -1px  3px rgba(0,0,0,0.3);
}
#offline-mode p{
font-family: &#39;Open Sans&#39;, sans-serif, &#39;Segoe UI&#39;,Arial,Tahoma;
font-size: 13.3px;color:#888;
line-height:1.8em;
margin-top:-15px;
}
.purechat-offline{
position:fixed;
bottom:-4px;
right:60px;
z-index:100;
width:270px;
display:none;
}

.jump-link{display:none}


#BounceToTop {background:none;text-align:center;position:fixed;bottom:10px;right:10px;cursor:pointer;width:40px;height:40px;border-radius:10px;padding:5px;display:none;transition:all .3s ease-out;}
#BounceToTop:hover {background:#none;}
#BounceToTop:before {font-family:&#39;fontAwesome&#39;;display:block;position:absolute;top:15px;left:16px;color:rgba(0,0,0,.18);font-size:44px;line-height:1}
#BounceToTop:before{content:&quot;\f106&quot;}
#BounceToTop:after {content:&quot;\f106&quot;}
#BounceToTop:hover:after {border-color:transparent transparent #80bc00 transparent;}
.arab {
font-size: 30px!important; line-height: 44px!important;
font-family: &quot;KFGQPC Uthman Taha Naskh&quot;, KFGQPC_Naskh, &quot;Traditional Arabic&quot;, Tahoma, sans-serif;
font-weight: normal;
text-align: right;
direction: rtl;
margin-bottom: 20px!important;
display: block;
float: right;
width: 100%;
}
.arab1 {
font-size: 30px!important; line-height: 44px!important;
font-family: &quot;KFGQPC Uthman Taha Naskh&quot;, KFGQPC_Naskh, &quot;Traditional Arabic&quot;, Tahoma, sans-serif;
font-weight: normal;
text-align: center;
direction: rtl;
margin-bottom: 20px!important;
display: block;
float: right;
width: 100%;
}
.arabic {
font-size: 22px !important; line-height: 34px !important;
font-family:&#39;KFGQPC Uthman Taha Naskh&#39;, KFGQPC_Naskh, &#39;Traditional Arabic&#39;, Tahoma, sans-serif;
font-weight: bold;
direction: rtl;
display:block;
text-align:right;
}
#comments {line-height:1.4em;margin: 60px 0 0 0;position:relative;background:#2a3542;border-radius:4px;padding:25px 20px 0 20px;}
  #comments h3 {border-radius:4px 4px 0 0;font-size:14px;font-family:Oswald,Arial,Sans-Serif;text-transform:uppercase;font-weight:normal;left:0;top:-53px;background:#22afa4;color:#fff;width:88%;padding:14px 20px 14px 75px;position:absolute}
#comments h3:before {
 content: &quot;\f0e6&quot;;
 font-family:fontAwesome;
 font-size:22px;
 font-style: normal;
 background-color:#1a857d;
 color:#fff;
 border-radius:4px 0 0 4px;
 top:0;
 left:0;
 padding:14px 20px;
 position:absolute;
}
.comment_avatar_wrap{
width:42px;
height:42px;
border: 1px solid #151d26;
background:#25303c;
padding:4px;
text-align:center;
margin-bottom:20px;
}
#comments .avatar-image-container {
float: left;
margin: 0 10px 0 0;
width: 42px;
height: 42px;
max-width:42px;
max-height:42px;
padding: 0;
margin-bottom:10px;
}
#comments .avatar-image-container img {
width: 42px;
height: 42px;
max-width: 42px;
max-height: 42px;
background:url(http://2.bp.blogspot.com/-fjaZBtfvzac/UN1mw2tUamI/AAAAAAAADkc/XdKqt8hWZ6w/s1600/anon.jpg) no-repeat;
}
.comment_name a {
font-family:Oswald, Arial, Sans-serif;
padding-bottom:10px;
font-size:14px;
text-decoration: none;
}
.comment_admin .comment_name  {
font-family:Oswald, Arial, Sans-serif;
padding-bottom:10px;
font-size:14px;
text-decoration: none;
}
.comment_admin .comment_date  {
font-weight: normal;
font-size:11px;
}
.comment_name {
font-family:Oswald, Arial, Sans-serif;
padding-bottom:10px;
font-size:14px;
font-weight:normal;
position:relative;
}
.comment_service{
margin-top:5px
}
.comment_date {
color: #999;
float:right;
font-size:11px;
font-weight:normal;
}
.comment_date a{
color: #a9a9a9;
float:right;
font-size:11px;
font-weight:normal;
}
.comment_date a:hover{
color: #a9a9a9;
text-decoration:none;
}
.comment_body{
margin-top:-72px;
margin-left:65px;
background:#25303c;
border:1px solid #1d2630;
border-top:1px solid #171f28;
border-left:1px solid #171f28;
padding:15px;
color: #999;
}
div.comment_inner.comment_admin{
background:#394549;
}
.comment_body p {
line-height: 1.5em;
margin: 5px 0 0 0;
color: #999;
font-size: 13px;
word-wrap:break-word;
padding-bottom:10px;
}
.comment_inner {
padding: 15px;
margin: 5px 0 5px 0;
background-color:#35404d;
}
.comment_child .comment_wrap {padding-left: 5%;}
.comment_reply {
display: inline-block;
margin-top:8px;
margin-left:-5px;
padding: 1px 12px;
color: #fff !important;
text-align: center;
text-decoration: none;
border-radius: 2px;
background: #54687c;
font: 11px/18px sans-serif;
transition: background-color 1s ease-out 0s;
}
.comment_reply:hover {
text-decoration: none !important;;
background: #627c96;
}
.unneeded-paging-control {display: none;}
#comment-editor {width:100% !important;background:#e1e3e6 url(&#39;http://4.bp.blogspot.com/-TIf6ayZW9R4/UkxBo2beCQI/AAAAAAAAFsA/XR2DBWD3YG4/s1600/kangis-loader.gif&#39;) no-repeat 50% 30%;border-radius:4px;margin-bottom:20px;position:relative;}
.comment-form {max-width: 100% !important;}
.comment_form a {
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
font-family: Arial, Helvetica, Garuda, sans-serif;
font-size: 15px;
}
.comment_form a:hover {text-decoration: underline;}

.comment_reply_form {
padding: 0 0 0 70px;
}
.comment_reply_form .comment-form {width: 99%;}
img.comment_emo {margin:0;padding:0;vertical-align:middle}
.comment_emo_list{
    display:none;
    clear:both;
    width:100%;
}
.comment_emo_list .item {
float: left;
text-align: center;
margin: 10px 5px 0 0;
height: 40px;
width:55px;
color:#999;
}
.comment_emo_list span {
display: block;
font-weight: normal;
font-size: 11px;
letter-spacing: 1px;
}
.comment_youtube {max-width:100%!important;width:400px;height:225px;display:block;margin:auto}
.comment_img {max-width:100%!important;}

.comment_header{width:50px}
#respond {
overflow: hidden;
padding-left: 10px;
clear: both;
}
.comment_avatar img{width:42px;height:42px;background:url(http://2.bp.blogspot.com/-fjaZBtfvzac/UN1mw2tUamI/AAAAAAAADkc/XdKqt8hWZ6w/s1600/anon.jpg) no-repeat}
.comment-delete img{float:right;margin-left:15px;margin-top:3px;}
.comment_author_flag {display:none}
.comment_admin .comment_author_flag {display:inline;font-size:13px;font-weight:normal;padding:2px 6px;right:-23px;margin-top:-23px;color:#fff;border-radius:4px;text-transform:uppercase;position:absolute;width:36px;height:36px;}
iframe{border:none;overflow:hidden}
.deleted-comment {
background:#db6161 url(http://4.bp.blogspot.com/-Yj5ewidrX5Q/UkrG9s3fS5I/AAAAAAAAFrQ/rhhaMJwHDoc/s1600/tempat-sampah.png) no-repeat 2% 50%;
color:#efd4d4;
line-height: 22px;
border: 1px solid #c44d4d;
padding:12px 15px 12px 45px;
margin:5px 0;
display: block;
}
.comment-form p {
background: #54687c;
padding: 15px 15px 14px 15px;
margin: 5px 0 5px 0;
color: #f4f4f4;
font-size: 13px;
line-height: 20px;
border-radius:4px;
position:relative;
}
div.comment_avatar img[src=&#39;http://img1.blogblog.com/img/openid16-rounded.gif&#39;] {
content: url(http://2.bp.blogspot.com/-8NurYzHIoWQ/Ujc_oLurXII/AAAAAAAAFek/XhAm-oLwg7Q/s45-c/gravatar.png);
}
  div:target .comment_inner{background:#346656;transition:all 15s ease-out;}
div:target .comment_child .comment_wrap .comment_inner{background:#404c5c;} 

iframe{border:none;overflow:hidden}

.center {
 text-align:center
}

img.cm-prev {
  max-width:400px;
  margin:10px auto;
  page-break-after:always;
  display:block;
  text-align:center !important;
}

#search-box{position:relative;width:350px;margin:10px auto}
#cse-search-box{height:30px;border-radius:2px;background-color:#fff;overflow:hidden;border:1px solid #bbb}
#search-text{font-size:12px;color:#ddd;border-width:0;background:transparent}
#search-box input[type=&quot;text&quot;]{width:85%;padding:5px 20px 12px 0;color:#666;outline:none}
#search-button{position:absolute;top:0;right:0;height:32px;width:20px;margin-top:10px;font-size:14px;color:#fff;text-align:center;line-height:0;border-width:0;background:url(http://1.bp.blogspot.com/_C6KkooKXCEw/TIBqtV6pdmI/AAAAAAAAGyM/QUBsym_R9V0/s200/search-c.png) no-repeat;cursor:pointer}
#error-page {
background-color:#e9e9e9;
position:fixed !important;
position:absolute;
text-align:center;
top:0;
right:0;
bottom:0;
left:0;
z-index:99999;
}
#error-inner {
margin:11% auto;
}
#error-inner .box-404 {
width:200px;
height:200px;
background:#21afa4;
color:#fff;
font-size:80px;
line-height:200px;
border-radius:10px;
margin:0 auto 50px;
position:relative;
}
#error-inner .box-404::after {
content:&quot; &quot;;
width:0;
height:0;
bottom:-8px;
border-color:#21afa4 transparent transparent;
border-style:solid;
border-width:9px 9px 0;
position:absolute;
left:47%;
}
#error-inner h1 {
text-transform:uppercase;
}
#error-inner p {
line-height:0.7em;
font-size:15px;
}

/* ==== Related Post Widget Start ==== */

.related-post {
 margin:2em auto 0;
 font-size:13px;
 background:#fff;
 border-radius:4px;
}
.related-post h4 {
 font-size:14px;
 margin:0 0 .5em;
 background:#9dcb63;
 color:#fff;
 padding:14px 20px 14px 75px;
 font-weight:normal;
 border-radius:4px 4px 0 0;
 position:relative;
    font-family:Oswald,Arial, Sans-Serif;
    text-transform:uppercase;
}
.related-post h4:before {
 content: &quot;\f074&quot;;
 font-family:fontAwesome;
 font-size:22px;
 font-style: normal;
 background-color:#8db857;
 color:#fff;
 border-radius:4px 0 0 0;
 top:0;
 left:0;
 padding:13px 20px;
 position:absolute;
}
ul.related-post-style-1 {
padding-left:0 !important;
    margin-top:-12px;
}
.related-post-style-1 li {
 list-style:none;
 padding:15px 20px;
 border-top:1px solid #eceef5;
}
.related-post-style-1 li a{
 color:#79798d;
 text-decoration:none;
}
  .related-post-style-1 li a:hover{
 color:#33aea5;
 text-decoration:none;
}
.related-post-style-1 li:before {
 content: &quot;\f08e&quot;;
 font-family:fontAwesome;
 color:#c7cbd4;
 font-style: normal;
 top:0;
 left:0;
 margin-right:13px;
}
/* ==== Related Post Widget End ==== */
#show-total {
  position:fixed;
  top:8px;
  right:288px;
  z-index:999;
  cursor:pointer;
    float:right;
}
  .total-show {
    background-color:#f1c40f;color:white;padding:2px 6px;font-size:11px;border-radius:4px;font-weight:bold;
  }
#notif {cursor:pointer;}
#notif:before {
  content: url(&#39;http://2.bp.blogspot.com/-wNOnRbS7rfM/UoZYxuLVMkI/AAAAAAAAGFI/CEqcJwQXOfc/s1600/lonceng2.png&#39;);
  border:1px solid #b6b5b5;
  padding:5px 6px 0 6px;
  border-radius:3px;
  display:block;
  position:fixed;
  top:15px;
  right:298px;
  opacity:.5;
  z-index:999;
  transition:all 0.4s ease-out;
}
  #notif:hover:before {
  opacity:1;
}
  #notif2 {cursor:pointer;display:none}
#notif2:before {
  content: url(&#39;http://2.bp.blogspot.com/-wNOnRbS7rfM/UoZYxuLVMkI/AAAAAAAAGFI/CEqcJwQXOfc/s1600/lonceng2.png&#39;);
  border:1px solid #b6b5b5;
  padding:5px 6px 0 6px;
  border-radius:3px;
  display:block;
  position:fixed;
  top:15px;
  right:298px;
  opacity:.5;
  z-index:9997;
  transition:all 0.4s ease-out;
}
  #notif2:hover:before {
  opacity:1;
}
#cm-wrapper {
  width:300px;
  position:fixed;
  top:61px;
  right:-381px;
  z-index:999;
  background-color:#192028;
  padding:15px 13px 25px 15px;
  color:#666;
  font-family: Arial, Sans-serif;
  border-top:8px solid #ff6c60;
  transition:0.5s ease;
}
#cm-wrapper:before {
content:&quot;&quot;;
width:0;
height:0;
position:absolute;
top:-24px;
left:6px;
border:8px solid transparent;
border-color:transparent transparent #ff6c60;
}
#cm-scroll {
width: 100%;
height: 560px;
overflow: auto;
position: relative;
}
#comments-container {
  color:#666;
  font-family: Arial, Sans-serif;
}

#comments-container.cm-active {
position:fixed;
right:0;
top:61px;
}

.scrollgeneric {
line-height: 1px;
font-size: 1px;
position: absolute;
top: 0; left: 0;
}

.vscrollerbase {
width: 7px;
    background-color: #111;border-radius:3px;
}
.vscrollerbar {
width: 7px;
background-color: #444;border-radius:3px;
}
.hscrollerbase {
height: 10px;
background-color: #111;border-radius:3px;
}
.hscrollerbar {
height: 10px;
background-color: #444;border-radius:3px;
}

.scrollerjogbox {
width: 10px;
height: 10px;
top: auto; left: auto;
bottom: 0px; right: 0px;
background-color: gray;
}
.cm-outer {
  margin:0 auto;
  padding:0;
  font-size:11px;
  text-align:left;
}
  .cm-outer pre {background-color:#141414;font-size:11px;color:#7c7c7c}
.cm-outer li {
  padding:7px 10px 12px;
  list-style:none;
  clear:both;
  position:relative;
  border-top:1px solid #28313b;
  border-bottom:1px solid #111;
  margin-right:10px;
}
.cm-outer code {
 color:#a6a658;
    font-size:11px;
}

  .cm-outer li.selected {
    border-left:4px solid #fffe8c;
}
  .cm-outer li:first-child {
  border-top:none;
}
  .cm-outer li:last-child {
  border-bottom:none;
}
.cm-text {color:#999;}
.cm-outer {margin:0 0 5px}
.cm-header {margin: 4px 0 8px 50px;font-size:12px;font-weight:normal !important;}
.cm-header a {color:#168980;text-decoration:none;font-size:12px;font-weight:bold}
.cm-header a:hover {color:#e6e6e6;text-decoration:none;}
.cm-outer .cm-content {overflow:hidden}
.cm-content {margin-left:50px}
.cm-outer img {
  display:block;
  float:left;
  background:#8fa2cb url(&#39;http://img1.blogblog.com/img/anon36.png&#39;) no-repeat 50% 50%;
  overflow:hidden;
  border-radius:100px;
  position:absolute;
  top:10px;
  left:0;
  border:3px solid #3d464f;
}
.cm-footer {margin-top:7px;}
.cm-footer a {color:#168980;text-decoration:none;}
.cm-footer a:hover {color:#e6e6e6;text-decoration:none;}
div.cm-header img[src=&#39;http://img1.blogblog.com/img/openid16-rounded.gif&#39;] {
content: url(http://2.bp.blogspot.com/-8NurYzHIoWQ/Ujc_oLurXII/AAAAAAAAFek/XhAm-oLwg7Q/s80-c/gravatar.png);
}

.bg_hitam{
        display: none;
        position: absolute;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index:99;
        opacity:.30;
}
img.cm-smiley  {
  float:none;
  position:relative;
  display:inline-block;
    width:12px !important;
    height:12px !important;
    top:2px;
    border:none;
    border-radius:2px;
background:none;
}

.myframe {
  display:none;
  width:100%;
  height:265px;
  margin-bottom:5px;
  border-radius:5px;
}
.jsfiddle-demo {
  display:block;
  width:100%;
  height:250px;
  border:1px solid #bbb;
  background:transparent url(&#39;http://4.bp.blogspot.com/-TIf6ayZW9R4/UkxBo2beCQI/AAAAAAAAFsA/XR2DBWD3YG4/s1600/kangis-loader.gif&#39;) no-repeat 50% 50%;
}
.sticky {  
    position: fixed;   
    top: 80px;  
    z-index: 100;  
    border-top: 0;  
} 
.ki_modal-single {
width: 600px;
height: 200px;
background-color: #f3f3f3;
border-radius: 5px;
box-shadow: 0 0 2px #333,0 0 6px #333;
position: absolute;
left: 50%;
margin-top: -150px;
margin-left: -300px;
top:-9999px;
z-index:9999;
transition: all 0.4s ease-in-out;
}

.ki_modal-single a{
color:white;
text-decoration:underline;
}
.ki_modal-close {
position:absolute;
top:8px;
right:8px;
z-index:9999;
cursor:pointer;
}
.ki_modal-single .ki_wrap-inner {
position: absolute;
top: 30px;
right: 10px;
bottom: 10px;
left: 10px;
padding: 20px;
overflow: auto;
background-color: #196ca8;
color: white;
text-align:left;
line-height:1.7em;
border:1px solid #408fc7;
border-top:1px solid #063a60;
border-left:1px solid #063a60;
font-size:14px;
}
  .ki_wrap-inner .modal-quote {
    text-align:right;
  }
.overlay{
display: block;
position: fixed;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background-color: #000;
z-index:9999;
opacity:.50;
transition: all 0.4s ease-in-out;
display:none;
}
#info{
position: fixed;
top: 18px;
left: 210px;
height: 16px;
border-radius:3px;
background-color: #0c67c4;
color:white;
padding:1px 10px 6px 10px;
z-index:9999;
cursor:pointer;
font-size:12px;
font-weight:bold;
}
img.comment_emo {
    height: auto !important;
    vertical-align: middle !important;
    width: auto !important;
    border:0px !important;
    background:none;
    box-shadow:none;
}
.nicescroll-rails {background:#a7abb0;}

  #tahunbaru {
    background:#255d90 url(http://4.bp.blogspot.com/-fhJ814QpbUg/UsKCbflIvVI/AAAAAAAAGQA/CERwLJTtcbo/s1600/newyearback2.png)no-repeat top right;
    color:white;
    font-family:Oswald, Arial, Sans-serif;
    font-size:250%;
    text-transform:uppercase;
    text-align:left;
    padding:18px;
    font-weight:normal;
    border-radius:5px;
  }
  .putih {color:white}
  #countdown{background:#df5063;border-radius:4px;padding:5px 20px}
  #HTML1 {margin-bottom:20px;}
.shoutmixwidget {
  display:block;
  width:100%;
  height:420px;
  border:none;
}

#view {
padding: 0;
margin: 0;
border: 0;
position: fixed;
top: 50px;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 93%;
background:url(http://www.ajaxload.info/cache/FF/FF/FF/64/5B/5B/25-1.gif)no-repeat center center;
transition:all .4s ease-out;
}
#tab-demo {
width:100%;
height:50px;
top:0;
background:#222;
color:white;
font:normal 13px Arial, sans-serif;
z-index:99999;
position:fixed;
}
.closebutton {
background:#66af33 url(http://2.bp.blogspot.com/-yDP_V5EQ09U/UuC7diNnwYI/AAAAAAAAGVw/Hez_ZcpmFLE/s1600/close.png)no-repeat 15px 50%;
text-align:center;
height:50px;
padding:0px 20px 0px 50px;
position:fixed;
top:0;
right:0;
line-height:50px;
cursor:pointer;
color:white;
}
a.closebutton {color:white;text-decoration:none;}
.closebutton:hover {background:#579c26 url(http://2.bp.blogspot.com/-yDP_V5EQ09U/UuC7diNnwYI/AAAAAAAAGVw/Hez_ZcpmFLE/s1600/close.png)no-repeat 15px 50%}
.dlbutton:hover {background:#579c26 url(http://3.bp.blogspot.com/-MHVCwQQDhzQ/UuC7dgZiqvI/AAAAAAAAGV0/llC0hES500M/s1600/download.png)no-repeat 15px 50%}
.dlbutton, a.dlbutton {
background:url(http://3.bp.blogspot.com/-MHVCwQQDhzQ/UuC7dgZiqvI/AAAAAAAAGV0/llC0hES500M/s1600/download.png)no-repeat 15px 50%;
text-align:center;
height:50px;
padding:0px 20px 0px 55px;
position:fixed;
top:0;
right:158px;
line-height:50px;
cursor:pointer;
color:white;
text-decoration:none;
}
.demologo, a.demologo {
background: url(http://2.bp.blogspot.com/-3Z-HuFDHOOg/UuDyIp8DZaI/AAAAAAAAGWQ/81Ev67C13hM/s1600/ki-logo.png)no-repeat left center;
padding-left:55px;
font-size:17px;
font-weight:normal;
font-family:Oswald, Arial, Sans-serif;
text-transform:uppercase;
line-height:50px;
left:15px;
position:fixed;
color:white;
text-decoration:none;
}

/* RESPONSIVE */
@media screen and (max-width:1024px) {
#outer-wrapper, #outer-wrapper2 {width:95%;}
#top-menuwrap, #top-menuwrap2{width:90%;margin:0 auto}
}
@media screen and (max-width:900px) {
.logo img{margin-top:11px;}
}
@media screen and (max-width:768px) {
#top-menu ul{display:none}
#main-wrapper, #sidebar-wrapper {
float:none;display:block;width:auto;}
#main-wrapper{width:100%}
.sticky {position:relative;width:100%;display:block !important;margin-top:-85px}
}
@media only screen and (max-width: 685px) {
.logo{float:none;display:block;margin:12px auto}
#header h1{font-size:200%;line-height:1.2em;}
#header a {font-size:65%;line-height:1.2em;}
}
@media screen and (max-width:480px) {
div#search-box{width:300px}
#content-wrapper{width:90%;margin:0 auto;padding:0}
#sidebar-wrapper .widget-content {margin:0 auto;padding:0;}
#top-menu{width:80%;text-align:center;height:auto;display:block;margin:0 auto}
#top-menu ul li{display:none}
.dp-thumbnail{border:1px solid #ddd}
.post h2 {font-size:120%}
}
@media screen and (max-width:320px) {
div#search-box{width:200px}
}

#ContactForm1 {display:none !important;}
#comments .note, em[rel=&quot;note&quot;] {display:block;padding:5px 10px;
border:1px solid #b3c5e0;background-color:#e0ecff;color:#666;
font:normal normal 11px/normal Tahoma,Verdana,Arial,Sans-Serif;}
@media screen and (max-width:480px) {
.dp-thumbnail {width:200px;height:225px}
.dp-thumbnail img{margin-top:32px;}
}  
@media screen and (max-width:320px) {
.dp-thumbnail {display:none}
}

img.smiley {
    height: auto !important;
    vertical-align: middle !important;
    width: auto !important;
    border:0px !important;
}
.cancel {
  background:#4d90f0;
  border:1px solid #3079ed;
  border-radius:3px;
  font:bold 11px Arial;
  padding:5px 8px;
  color:white;
  text-shadow: 1px 1px 0 #4d90f0;
  margin-top:-111px;
  margin-left:199px;
  position:absolute;
  display:none;
}
.cancel:hover {
  background:#377cea;
  border-color:#2f5bb7;
}
a.cancel  {
  color:white;
}
.add-comment {visibility:hidden}
.thanks {
font-family:Arial, sans-serif;
font-size:12px;
right:29px;
margin-top:-67px;
padding:6px 12px;
background:#f8f8f8;color:#999;
border:1px solid #c9cacb;
border-radius:3px;
position:absolute;
}